<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <!-- 注册Servlet -->
    <servlet>
        <!-- 注册名 -->
        <servlet-name>DispatcherServlet</servlet-name>
        <!-- 类全路径名 -->
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <!-- 指定Bean配置文件：Main.xml -->
            <param-value>classpath:Main.xml</param-value>
        </init-param>
        <!-- 加载顺序 -->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Servlet代理路径 -->
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>